@media screen and (max-width: 1600px) {
  .mouse {
    bottom: 25px; } }
@media screen and (max-width: 1440px) {
  .business-travel {
    padding-top: 0px; }
  .business-travel .business-travel-wrap {
    position: relative;
    z-index: 10;
    margin-bottom: -55px; }

   .credit .credit-spb {
    padding-top: 0; }
  .credit .credit-spb h1 {
    font-size: 53px;
    line-height: 75px;}
  .credit .credit-spb p {
    max-width: 845px; }

  .car-taxi { padding-top: 0; }
  .car-taxi .car-taxi-text h1 {
    margin: 0 0 15px 0;
    font-size: 53px;
    line-height: 70px; }
  .car-taxi .car-taxi-pic {
    margin: -75px auto 50px auto; }
  .car-taxi .car-taxi-text a {
    z-index: 10;
    position: relative; }
  .car-taxi .car-taxi-text p {
    z-index:10; position: relative; }

  .franchising { padding-top: 0;}
  .franchising h1 { font-size: 53px; line-height: 70px; margin-bottom: 10px; }
  .franchising .franchising-pic { margin: -70px auto 60px auto; }
  .franchising p {z-index: 10; position: relative;}
}
@media screen and (max-width: 1366px) {
  .el-header-bg, .car-pmef-header, .event-header {
    height: 85vh; } }

@media screen and (max-width: 1152px) {
  .subscribe-block .subscribe-wrap .subscribe-pic {
    margin-right: 20px; }
  .subscribe-block .subscribe-wrap .subscribe-right h2 {
    font-size: 35px; }
  .car-taxi-content .car-park .car-park-wrap .car-park-left {
    margin-right: 15px; }
  .transport-services .transport-services-wrap .transport-services-center {
    margin: 0 10px; }
  .transport-services .transport-services-wrap .transport-services-right {
    width: 400px; } }

@media screen and (max-width: 1120px) {
    .info-pic longtime-rent-pic
  .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(2) {
    top: 0;
    right: 180px; }
  .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    top: 176px;
    right: 305px; }
    .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(3) p {
      margin: 0 auto;
      text-align: center; }
    .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(3) .longtime-rent-icon {
      margin: 0 auto; }
  .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(4) {
    top: 370px;
    right: 180px; }
    .el-info .info-right .longtime-rent-pic{
        left: 63%;
        top: 60%;
        width: 50%;
    }
    .el-info .info-right .longtime-rent-item:nth-child(3) {
        top: 125px;
        left: 3%;
    }

 }

@media screen and (max-width: 1080px) {
  .news .news-content .news-row {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .news .news-content .news-row .news-item {
      padding: 5px; }
      .news .news-content .news-row .news-item .news-pic {
        width: auto; }
  .romantic-meetings .tabs-wrap .tab-content .tab-item .excursion-item {
    max-width: 490px; } }

@media screen and (max-width: 1024px) {
  .longtime-rent {
    margin-bottom: 15px; }
    .longtime-rent .el-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .longtime-rent .el-info .info-left {
        margin-bottom: 15px;
        max-width: 100%; }
      .longtime-rent .el-info .info-right {
        max-width: 515px;
        margin: 0 auto; }
        .longtime-rent .el-info .info-right .longtime-rent-pic img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          overflow: hidden; }
        .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(2) {
          right: 185px; }
        .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(3) {
          right: 305px; }
        .longtime-rent .el-info .info-right .longtime-rent-item:nth-child(4) {
          right: 185px; } }

@media screen and (max-width: 992px) {
    .ios .el-header-bg{background-attachment: scroll!important;}
    .news-inner-header, .romantic-header{background-attachment: scroll!important;}
  .el-header-bg h1, .event-header h1, .news-inner-header h1, .franchising h1, .romantic-header h1 {
    font-size: 55px; }
  .header-title {
    font-size: 55px; }
  .romantic-header {
    height: calc(100vh - 60px); }
  .credit .credit-spb h1 {
    font-size: 55px; }
  .business-travel .business-travel-wrap h1 {
    font-size: 55px; }
  .car-taxi .car-taxi-text h1 {
    font-size: 55px; }
  .credit-content .few-steps .few-steps-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .credit-content .few-steps .few-steps-wrap .few-steps-item {
      width: 27%; }
      .credit-content .few-steps .few-steps-wrap .few-steps-item:nth-child(1), .credit-content .few-steps .few-steps-wrap .few-steps-item:nth-child(2), .credit-content .few-steps .few-steps-wrap .few-steps-item:nth-child(3) {
        margin-bottom: 15px; }
      .credit-content .few-steps .few-steps-wrap .few-steps-item p {
        font-size: 15px; } }

@media screen and (max-width: 965px) {
  .types-service {
    background-position: center; }
    .types-service .types-service-row {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .types-service .types-service-row .types-service-item {
        margin-bottom: 39px; } }

@media screen and (max-width: 915px) {
  .tabs-wrap .el-tabs li {
    font-size: 15px; } }

@media screen and (max-width: 900px) {
  .el-services {
    position: relative; }
    .el-services .services-wrap {
      padding: 0; }
      .el-services .services-wrap ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .el-services .services-wrap ul:before {
          display: none; }
        .el-services .services-wrap ul li {
          width: 100%;
          text-align: center;
          padding: 5px 24px 5px 0; }
          .el-services .services-wrap ul li:first-child {
            padding: 5px 24px 5px 0; }
          .el-services .services-wrap ul li:nth-child(2n) {
            background: #f0f0f0; }
          .el-services .services-wrap ul li:nth-child(2n+1) {
            background: #fff; }
          .el-services .services-wrap ul li:first-child {
            background-image: -webkit-gradient(linear, left bottom, left top, from(#feb003), to(#fbdc03));
            background-image: -webkit-linear-gradient(bottom, #feb003 0%, #fbdc03 100%);
            background-image: -moz-linear-gradient(bottom, #feb003 0%, #fbdc03 100%);
            background-image: -o-linear-gradient(bottom, #feb003 0%, #fbdc03 100%);
            background-image: linear-gradient(to top, #feb003 0%, #fbdc03 100%); }
          .el-services .services-wrap ul li a {
            font-size: 14px;
            line-height: 50px;}
  .car-taxi-content .terms-work .terms-work-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .car-taxi-content .terms-work .terms-work-row .terms-work-item {
      width: 30%;
      margin-bottom: 15px; }
  .car-taxi-content .car-park .car-park-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .car-taxi-content .car-park .car-park-wrap .car-park-left {
      margin: 0 0 15px 0; }
    .car-taxi-content .car-park .car-park-wrap .car-park-right {
      max-width: 622px;
      width: 100%; } }

@media screen and (max-width: 854px) {
  .credit-content .credit-banks {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .credit-content .credit-banks .credit-banks-item {
      width: 50%; }
  .order-confirm .order-confirm-wrap {
    padding-bottom: 450px;
    background-position: center bottom; }
  .subscribe-block .subscribe-wrap .subscribe-right h2 {
    font-size: 25px;
    line-height: 36px; }
  .footer, .footer_placeholder {
    display: none; }
  .footer .subscribe h3 {
    font-size: 16px;
    line-height: 21px; }
  .footer .footer-list .footer-list-col .footer-list-item ul {
    display: none;}
  .footer .footer-list {
    text-align: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer .footer-list .footer-list-col {
      width: 100%; }
      .footer .footer-list .footer-list-col:nth-child(1), .footer .footer-list .footer-list-col:nth-child(2), .footer-list-col:nth-child(3) {
        margin-bottom: 0; }
      }
      .footer .footer-list .footer-list-col .footer-list-item ul {
        margin-bottom: 10px;
      }
      .footer .footer-list .footer-list-col .footer-list-item ul li a {
        font-size: 14px;
        font-weight: bold;}
      .footer .footer-list .footer-list-col .footer-logo {
        margin: 0 auto 15px auto;
        width: 161px; }

@media screen and (max-width: 835px) {
  .not-found .not-found-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .not-found .not-found-wrap h1 {
      font-size: 150px; }
    .not-found .not-found-wrap .not-found-right {
      padding-left: 0;
      text-align: center; }
  .not-found a {
    min-width: 290px;
    max-width: 290px; } }

@media screen and (max-width: 832px) {
  .contacts .contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contacts .contacts-wrap .contacts-right {
      padding-top: 25px;
      max-width: 600px;
      width: 100%; }
      .contacts .contacts-wrap .contacts-right form {
        text-align: center; }
        .contacts .contacts-wrap .contacts-right form .form-field input, .contacts .contacts-wrap .contacts-right form .form-field textarea {
          width: 100%; }
        .contacts .contacts-wrap .contacts-right form button {
          max-width: 380px;
          width: 100%; }
  .tabs-wrap:before {
    top: -20px; }
  .tabs-wrap .el-tabs {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .tabs-wrap .el-tabs li {
      text-align: center;
      padding-bottom: 15px;
      margin-bottom: 15px;
      width: 33%; }
  .tabs-wrap .tab-content .tab-item h2 {
    font-size: 29px; }
  .el-info .info-left h2 {
    font-size: 34px; }
  .el-info .info-left .el-info-text p {
    font-size: 15px; }
  .footer .footer-bottom .footer-bottom-wrap .footer-bottom-left {
    width: 590px; }
  .transport-services .transport-services-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .transport-services .transport-services-wrap .transport-services-left, .transport-services .transport-services-wrap .transport-services-center {
      margin-bottom: 15px; }
    .transport-services .transport-services-wrap .transport-services-right {
      width: 100%; } }

@media screen and (max-width: 829px) {
  .car-taxi-content .advantages .advantages-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .car-taxi-content .advantages .advantages-row .advantages-item {
      margin-bottom: 34px; } }

@media screen and (max-width: 767px) {
  .footer .footer-bottom .footer-bottom-wrap .footer-bottom-left {
    width: 565px; } }

@media screen and (max-width: 750px) {
  .el-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .el-info .info-left {
      margin-bottom: 15px;
      max-width: 100%; }
    .el-info .info-right {
      width: 100%; }
  .event .el-info .info-right .info-pic {
    width: 100%; }
  .footer .footer-bottom .footer-bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer .footer-bottom .footer-bottom-wrap .footer-bottom-left {
      margin-bottom: 10px; } }

@media screen and (max-width: 704px) {
  .el-header-bg h1, .event-header h1, .news-inner-header h1, .franchising h1, .romantic-header h1 {
    font-size: 44px;
    line-height: 60px; }
  .header-title {
    font-size: 44px;
    line-height: 60px; }
  .credit .credit-spb h1 {
    font-size: 44px;
    line-height: 60px; }
  .business-travel .business-travel-wrap h1 {
    font-size: 44px;
    line-height: 60px; }
  .car-taxi .car-taxi-text h1 {
    font-size: 44px;
    line-height: 60px; }
  .subscribe-block .subscribe-wrap .subscribe-right {
    max-width: 480px; }
    .subscribe-block .subscribe-wrap .subscribe-right h2 {
      font-size: 19px; }
    .subscribe-block .subscribe-wrap .subscribe-right form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .credit-content .few-steps .few-steps-wrap .few-steps-item {
    width: 33%; }
    .credit-content .few-steps .few-steps-wrap .few-steps-item p {
      font-size: 14px; }
  .why-franchising .profitable h2, .why-franchising .comfortable h2 {
    font-size: 31px; }
  .types-service h2, .transport-services h2 {
    font-size: 31px; }
  .car-taxi-content .advantages h2, .car-taxi-content .terms-work h2, .car-taxi-content .car-park h2 {
    font-size: 31px;
    line-height: 36px; }
  .car-taxi-content .terms-work .terms-work-row .terms-work-item {
    width: 45%; }
  .seo-block .seo-wrap {
    flex-direction: column; align-items: center; }
    .seo-block .seo-wrap .seo-pic  { height: 300px; }
    .seo-block .seo-wrap .seo-pic img  { height: 100%; }
    .seo-block .seo-wrap .seo-info  { margin-left: 0; } }

@media screen and (max-width: 648px) {
  .order-confirm .order-confirm-wrap {
    padding-bottom: 520px; }
  .why-franchising .comfortable .comfortable-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .why-franchising .comfortable .comfortable-wrap .comfortable-item {
      width: 50%; }
      .why-franchising .comfortable .comfortable-wrap .comfortable-item:nth-child(1), .why-franchising .comfortable .comfortable-wrap .comfortable-item:nth-child(2) {
        margin-bottom: 15px; }
      .why-franchising .comfortable .comfortable-wrap .comfortable-item p {
        margin: 0 auto; } }

@media screen and (max-width: 600px) {
  .credit .credit-spb p {
    font-size: 19px; }
  .credit-content .few-steps .few-steps-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .credit-content .few-steps .few-steps-wrap .few-steps-item {
      width: 55%;
      margin-bottom: 15px; }
      .credit-content .few-steps .few-steps-wrap .few-steps-item p {
        font-size: 16px; }
  .credit-content .credit-banks .credit-banks-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .credit-content .credit-banks .credit-banks-row .credit-banks-item {
      width: 100%;
      margin-bottom: 65px; }
      .credit-content .credit-banks .credit-banks-row .credit-banks-item:last-child {
        margin-bottom: 0; }
  .footer .footer-list {
    width: 500px; }
    .footer .footer-list .footer-list-col {
      width: 46%; }
      .long-term-rent-wrap {
          height: 672px;
          width: 100%;
      }
      .el-info .info-right .longtime-rent-pic {
        left: 49%;
        top: 75%;
        width: 100%;
    }
    .el-info .info-right .longtime-rent-item:nth-child(2) {
        top: 12px;
        left: 20%;
    }
    .el-info .info-right .longtime-rent-item:nth-child(3) {
        top: 125px;
        left: 3%;
    }
    .el-info .info-right .longtime-rent-item:nth-child(4) {
        top: 220px;
        left: 20%;
    }
}

@media screen and (max-width: 576px) {
  .el-info .info-left h2 {
    text-align: center; }
  .el-info .info-left a {
    display: block;
    margin: 0 auto;
    max-width: 253px; }
  .tabs-wrap .tab-content .tab-item h2 {
    font-size: 32px;
    text-align: center;
    line-height: 34px; }
  .longtime-rent .el-info .info-right {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .longtime-rent .el-info .info-right .longtime-rent-pic {
      width: 100%; }
    .longtime-rent .el-info .info-right .longtime-rent-item {
      position: static;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -moz-box-orient: vertical;
      -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      max-width: -webkit-calc(100%/3);
      max-width: -moz-calc(100%/3);
      max-width: calc(100%/3); }
      .longtime-rent .el-info .info-right .longtime-rent-item .longtime-rent-icon {
        margin: 0 auto 5px auto; }
      .longtime-rent .el-info .info-right .longtime-rent-item p {
        margin: 0 auto;
        font-size: 14px;
        text-align: center; }
  .subscribe-block {
    background: #e2e2e2;
    margin-bottom: 0;
    padding-bottom: 60px; }
    .subscribe-block .subscribe-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .subscribe-block .subscribe-wrap .subscribe-pic {
        margin-right: 0;
        width: 100%; }
      .subscribe-block .subscribe-wrap .subscribe-right h2 {
        text-align: center; }
  .footer .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .footer .subscribe h3 {
      font-size: 17px;
      margin-bottom: 10px; }
  .footer .footer-list {
    width: 100%; }
    .footer .footer-list .footer-list-col {
      width: 100%; }
  .footer .footer-bottom .footer-bottom-wrap .footer-bottom-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .footer .footer-bottom .footer-bottom-wrap .footer-bottom-left .social {
      margin-bottom: 15px; }
    }

@media screen and (max-width: 548px) {
  .why-franchising .profitable {
    background-position: center center; }
    .why-franchising .profitable .profitable-row {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .credit-content .few-steps h2 {
    font-size: 30px; }
  .credit-content .credit-banks h2 {
    font-size: 30px; }
  .order-confirm .order-confirm-wrap {
    text-align: center; }
    .order-confirm .order-confirm-wrap h1 {
      font-size: 32px; }
  .tabs-wrap .el-tabs li {
    font-size: 14px;
    width: 44%; }
  .car-taxi-content .car-park .car-park-wrap .car-park-top {
    width: 100%;
    overflow-x: scroll; }
    .car-taxi-content .car-park .car-park-wrap .car-park-top .car-park-table {
      width: 480px; }
  .seo-block .seo-wrap .seo-pic {
    margin-bottom: 25px;
  }
  .seo-block .seo-wrap .seo-info {
    padding-top: 0;
    height: 265px;
    overflow-y: scroll;
  }
  .subscribe-block {
    display: none; } }
@media screen and (max-width: 500px) {
  .credit .credit-cart-pic img {
    top: 75%; }
  .car-taxi .car-taxi-pic img {
    top: 75%;
  }
}
@media screen and (max-width: 479px) {

    .el-info .info-right .info-pic.photosession-pic{ height: 330px;}
    .el-info .info-right .info-pic img{width: 100%;
    height: 100%;
    object-fit: contain;}
  .contacts .contacts-wrap .contacts-left h2 {
    font-size: 34px; }
  .news-inner .news-inner-text h2 {
    font-size: 27px; }
  .news-inner .news-inner-text p {
    font-size: 15px; }
  .longtime-rent .el-info .info-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .longtime-rent .el-info .info-right .longtime-rent-item {
      max-width: 330px;
      margin-bottom: 15px; }
      .longtime-rent .el-info .info-right .longtime-rent-item p {
        max-width: 100%;
        font-size: 17px; }
  .car-taxi-content .terms-work .terms-work-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (max-width: 404px) {
  .tabs-wrap .el-tabs li {
    font-size: 15px;
    width: 100%; }
    .el-info .info-right .longtime-rent-item:nth-child(2) {
        top: 12px;
        left: 3%;
    }
    .el-info .info-right .longtime-rent-item:nth-child(3) {
        top: 125px;
        left: 3%;
    }
    .el-info .info-right .longtime-rent-item:nth-child(4) {
        top: 220px;
        left: 3%;
    }
}

@media screen and (max-width: 400px) {
  .el-header-bg h1, .event-header h1, .news-inner-header h1, .franchising h1, .romantic-header h1 {
    font-size: 34px;
    line-height: 38px; }
  .header-title {
    font-size: 34px;
    line-height: 38px; }
  .credit .credit-spb h1 {
    font-size: 34px;
    line-height: 38px; }
  .business-travel .business-travel-wrap h1 {
    font-size: 34px;
    line-height: 38px; }
  .car-taxi .car-taxi-text h1 {
    font-size: 34px;
    line-height: 38px; } }

@media screen and (max-width: 375px) {
  .el-header-bg .popup-button a {
    max-width: 100%; min-width: auto; font-size: 14px;
  }
  .el-info .info-left a { max-width: 100%; min-width: auto; font-size: 14px; }

  .why-franchising .profitable .profitable-row .profitable-item {
    margin-bottom: 23px; }
  .why-franchising .comfortable .comfortable-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .why-franchising .comfortable .comfortable-wrap .comfortable-item {
      width: 100%;
      margin-bottom: 15px; } }

@media screen and (max-width: 342px) {
  .el-table .link p {
    font-size: 21px; } }
