@charset "UTF-8";
body {overflow-x: hidden;}

button.standartYellow{
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbdc03), to(#fdb903));
	background: -webkit-linear-gradient(top, #fbdc03, #fdb903);
	background: -moz-linear-gradient(top, #fbdc03, #fdb903);
	background: -o-linear-gradient(top, #fbdc03, #fdb903);
	background: linear-gradient(to bottom, #fbdc03, #fdb903);
	/*font-family: HelveticaNeueCyr;*/
	font-size: 14px;
	font-weight: 300;
}

.main{background: #fff; width: 100%; overflow-x: hidden;    height: auto;
    overflow-y: hidden;}

.global-wrapper{position: relative;}

.header{font-size: 14px; font-weight: 300;}
.header .top-part{
	background: #181c1e;
	height: 60px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header .top-part .main-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1166px;
	width: 100%;
	margin: 0 auto;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header .top-part .main-wrap .nav-menu-adaptiv-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.header .top-part .main-wrap > div{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header .top-part .main-wrap > div a{
	text-decoration: none;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 10px;
}
.header .top-part .main-wrap .telephon a{letter-spacing: 2px;}
.header .top-part .main-wrap > div a img{margin-right: 8px;}
.header .top-part .main-wrap > div a:hover{opacity: 0.5;}
.header .top-part .main-wrap > div.language-picker{position: relative;}
.header .top-part .main-wrap > div.language-picker:after{
	content: "";
	display: block;
	position: absolute;
	right: -10px;
	top: 60%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	border-top: 5px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.header .top-part .main-wrap > div.city-picker{position: relative;}
.header .top-part .main-wrap > div.city-picker:after{
	content: "";
	display: block;
	position: absolute;
	right: -10px;
	top: 60%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	border-top: 5px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.header .top-part .main-wrap .button-wrap a{
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbdc03), to(#fdb903));
	background: -webkit-linear-gradient(top, #fbdc03, #fdb903);
	background: -moz-linear-gradient(top, #fbdc03, #fdb903);
	background: -o-linear-gradient(top, #fbdc03, #fdb903);
	background: linear-gradient(to bottom, #fbdc03, #fdb903);
	/*font-family: HelveticaNeueCyr;*/
	font-size: 14px;
	font-weight: 300;
	width: 140px;
	height: 32px;
	color: #000;
	text-align: center;
	padding-left: 10px;
}
.header .top-part .main-wrap .mobile-nav-menu-button{display: none;}
.header .bottom-part{
	background: #202528;
	height: 35px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header .bottom-part .main-wrap{max-width: 1166px; width: 100%; margin: 0 auto;}
.header .bottom-part .main-wrap ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.header .bottom-part .main-wrap ul li a {
	color: #fff;
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	pointer-events: auto;
	cursor: pointer;
}
.header .bottom-part .main-wrap ul li a img{margin-right: 5px;}
.header .bottom-part .main-wrap ul li a p{margin: 0;}
.header .bottom-part .main-wrap ul li a:hover{opacity: 0.5;}
.header .bottom-part .main-wrap ul li .active{color: #fcd503;

}

.fancyboxHeading-popup{width: 1166px;}
.fancyboxHeading-popup .fancybox-close {
	background-image: url(/img/close2.png);
	background-size: cover;
	left: auto;
	right: 120px;
	top: 30px;
	width: 39px;
	height: 39px;
	text-decoration: none;
	color: #000;
}
.fancyboxHeading-popup .fancybox-close:after{
	content: 'Закрыть';
	font-weight: 300;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 120%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#country_picker, #city_picker, #headerCalculator, #back-call, #back-call1{
	width: 1166px;
	padding: 0 0 60px 20px;
	border-bottom: 4px solid #fbdc03;
}
#country_picker .main-heading, #city_picker .main-heading, #headerCalculator .main-heading, #back-call .main-heading, #back-call1 .main-heading{text-align: center;}
#country_picker .main-heading h3, #city_picker .main-heading h3, #headerCalculator .main-heading h3, #back-call .main-heading h3, #back-call1 .main-heading h3{
	font-weight: 300;
	font-size: 35px;
	margin-bottom: 60px;
}
#country_picker .countries-heading h4, #city_picker .countries-heading h4, #headerCalculator .countries-heading h4, #back-call .countries-heading h4, #back-call1 .countries-heading h4{
	font-size: 25px;
	font-weight: 500;
}
#country_picker .countris, #city_picker .countris, #headerCalculator .countris, #back-call .countris, #back-call1 .countris{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
#country_picker .countris .countri-item, #city_picker .countris .countri-item, #headerCalculator .countris .countri-item, #back-call .countris .countri-item, #back-call1 .countris .countri-item{margin-right: 45px;}
#country_picker .countris .countri-item a, #city_picker .countris .countri-item a, #headerCalculator .countris .countri-item a, #back-call .countris .countri-item a, #back-call1 .countris .countri-item a {
	text-decoration: none;
	color: #000;
	font-size: 15px;
	line-height: 30px;
}
#country_picker .countris .countri-item img, #city_picker .countris .countri-item img, #headerCalculator .countris .countri-item img, #back-call .countris .countri-item img, #back-call1 .countris .countri-item img {
	width: 30px;
	height: 30px;
}

#city_picker{padding-bottom: 100px;}
#city_picker form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
#city_picker form select {
	width: 350px;
	padding: 15px 0px 15px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-right: 35px;
}
#city_picker form input {
	width: 350px;
	padding: 15px 0px 15px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #aaaaaa;
	margin-right: 40px;
}
#city_picker form button.standartYellow{
	width: 200px;
	height: 40px;
	-webkit-box-shadow: -5px 10px 55px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -5px 10px 55px 0 rgba(0, 0, 0, 0.3);
	box-shadow: -5px 10px 55px 0 rgba(0, 0, 0, 0.3);
}
#city_picker form .jq-selectbox__select{
	width: 350px;
	margin-right: 45px;
	height: 50px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#city_picker form .jq-selectbox__select .jq-selectbox__select-text{
	font-weight: 300;
	font-size: 16px;
	line-height: 50px;
}
#city_picker form .dropdown .jq-selectbox__select{
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid #aaa;
	border-bottom: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#city_picker form .dropdown .jq-selectbox__dropdown{
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	border-bottom-right-radius: 30px;
	border: 1px solid #aaa;
	border-top: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	top: 40px !important;
}
#city_picker form .jq-selectbox li{padding: 5px 18px 10px;}
#city_picker form .choose{width: auto; width: 350px; margin-right: 30px;}

#headerCalculator .error .jq-selectbox__select{border: 1px solid red;}

#headerCalculator .jq-selectbox li{padding: 5px 18px 10px;}

#headerCalculator .dropdown .jq-selectbox__select{
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	border-top-right-radius: 30px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid #aaa;
	border-bottom: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#headerCalculator .dropdown .jq-selectbox__dropdown{
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	border-bottom-right-radius: 30px;
	border: 1px solid #aaa;
	border-top: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	top: 40px !important;
}

#headerCalculator .line-wrap{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}

#headerCalculator .line-wrap .page-line-item{width: 45%;}

#headerCalculator .calculator-tab-wrapper{padding: 35px 20px;}
#headerCalculator .calculator-tab-wrapper .tabs-line{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 15px;
}
#headerCalculator .calculator-tab-wrapper .tabs-line .tab{
	width: 190px;
	font-weight: 300;
	font-size: 16px;
	color: #707070;
	position: relative;
	cursor: pointer;
}
#headerCalculator .calculator-tab-wrapper .tabs-line .tab:after{
	content: " ";
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fccd03;
}
#headerCalculator .calculator-tab-wrapper .tabs-line .tab:nth-child(2){text-align: right;}
#headerCalculator .calculator-tab-wrapper .tabs-line .tab.chosen{color: #4e4e4e;}
#headerCalculator .calculator-tab-wrapper .tabs-line .tab.chosen:after{height: 4px;}
#headerCalculator .calculator-tab-wrapper .pages-line form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
#headerCalculator .calculator-tab-wrapper .pages-line form .page-line-item{width: 355px; position: relative;}
.page-line-item{ position: relative;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
.page-line-item .heading h4 {
	font-weight: 300;
	font-size: 15px;
	color: #707070;
	margin-bottom: 5px;
	margin-top: 15px;
}
#headerCalculator .calculator-tab-wrapper .pages-line form .page-line-item select{
	padding: 15px 0px 15px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width: 350px;
	font-weight: 300;
	font-size: 15px;
	color: #333333;
}
#headerCalculator .calculator-tab-wrapper .pages-line form .page-line-item select.error{border: 1px solid red;}
#headerCalculator .calculator-tab-wrapper .pages-line form .page-line-item select.error + .jq-selectbox__select{border: 1px solid red;}
#headerCalculator .calculator-tab-wrapper .pages-line form .page-line-item select option {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .input-field {
	padding: 15px 20px 15px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width: 350px;
	font-weight: 300;
	font-size: 15px;
	color: #333333;
	background: #fff;
	border: 1px solid #aaaaaa;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#headerCalculator .calculator-tab-wrapper .pages-line form.none-driver-cont .page-line-item .input-field{width: 100%;}
#headerCalculator .calculator-tab-wrapper .pages-line form.none-driver-cont .line-wrap .page-line-item{width: 45%;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .input-field.error{border: 1px solid red;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .input-field div{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
.page-line-item .input-field > span{
	display: block;
	height: 1px;
	background-color: #777777;
	width: 55px;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .input-field img{margin-right: 10px;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .input-field p{margin: 0; padding: 0!important;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .dropdown-datepicker{
	width: 350px;
	height: 355px;
	position: absolute;
	bottom: -370px;
	left: 0;
	background: #fff;
	z-index: 999;
	-webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
	display: none;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
.page-line-item .dropdown-datepicker:before{
	content: '';
	display: block;
	position: absolute;
	border-bottom: 15px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: -15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .dropdown-datepicker .datepicker-heading{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-bottom: 0px;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form */
.page-line-item .dropdown-datepicker .datepicker-heading .head-tab{
	font-weight: 300;
	font-size: 15px;
	color: #333333;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .datepicker-heading .head-tab h4{margin: 20px 0;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .datepicker-heading .head-tab img{margin-right: 10px;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .datepicker-heading .head-tab.clicked{position: relative;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .datepicker-heading .head-tab.clicked:after {
	content: " ";
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fccd03;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content{
	height: 248px;
	position: relative;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init{width: 100%;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-widget-header{background: #fff; border: none;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-widget-header .ui-icon{background-image: none;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-datepicker-inline{width: 100%;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-widget.ui-widget-content{border: none;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-datepicker-prev, #headerCalculator .calculator-tab-wrapper .pages-line form .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-datepicker-next {cursor: pointer;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-datepicker-prev span, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-datepicker-next span {
	width: 0px;
	height: 0px;
	-webkit-transform: translate(-50% -50%);
	-moz-transform: translate(-50% -50%);
	-ms-transform: translate(-50% -50%);
	-o-transform: translate(-50% -50%);
	transform: translate(-50% -50%);
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-datepicker-prev span {
	border-right: 10px solid #777777;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-datepicker-next span {
	border-left: 10px solid #777777;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/
 .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-state-default, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-widget-content .ui-state-default, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-widget-header .ui-state-default, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-button, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init html .ui-button.ui-state-disabled:hover, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init html .ui-button.ui-state-disabled:active {
	border: none;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	background: #fff;
	border: 1px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-state-active, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-widget-content .ui-state-active, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-widget-header .ui-state-active, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init a.ui-button:active, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-button:active, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .datepicker-init .ui-button.ui-state-active:hover {
	background: #fcd103;
	color: #000;
	border: 1px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .main-date-tab{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .main-date-tab input{display: none;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .main-date-tab:nth-child(2) h4 {
	font-weight: 200;
	font-size: 15px;
	margin-left: 25px;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker .main-date-content .main-date-tab:nth-child(2) .timepicker-init {
	display: block;
	width: 275px;
	border: 1px solid #aaaaaa;
	margin: 0 auto;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 15px 20px;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .dropdown-datepicker button{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50px;
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbdc03), to(#fdb903));
	background: -webkit-linear-gradient(top, #fbdc03, #fdb903);
	background: -moz-linear-gradient(top, #fbdc03, #fdb903);
	background: -o-linear-gradient(top, #fbdc03, #fdb903);
	background: linear-gradient(to bottom, #fbdc03, #fdb903);
	/*font-family: HelveticaNeueCyr;*/
	font-size: 16px;
	font-weight: 300;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .error-message-hour, /*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .error-message-minutes{
	display: none;
	width: 280px;
	height: 100px;
	background: #ec4148;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	padding: 35px 20px;
	position: absolute;
	top: 50%;
	right: 105%;
	z-index: 999;
}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .error-message-hour p,
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .error-message-minutes p{margin: 0;}
/*#headerCalculator .calculator-tab-wrapper .pages-line form*/ .page-line-item .error-message-minutes{top: 150%;}
#headerCalculator .calculator-tab-wrapper .bottom-total {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	margin-top: 45px;
}
#headerCalculator .calculator-tab-wrapper .bottom-total .image-wrap{margin-right: 80px; max-width: 400px;}
#headerCalculator .calculator-tab-wrapper .bottom-total .score{width: 180px;}
#headerCalculator .calculator-tab-wrapper .bottom-total .score .heading{text-align: center;}
#headerCalculator .calculator-tab-wrapper .bottom-total .score .heading h3{
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}
#headerCalculator .calculator-tab-wrapper .bottom-total .score .border-wrap{
	border: 1px solid #999999;
	padding: 0 10px;
	height: 200px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#headerCalculator .calculator-tab-wrapper .bottom-total .score .border-wrap .description{
	font-size: 15px;
	font-weight: 300;
	line-height: 1.3;
}
#headerCalculator .calculator-tab-wrapper .bottom-total .score .border-wrap .total{text-align: center;}
#headerCalculator .calculator-tab-wrapper .button-wrap{
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
#headerCalculator .calculator-tab-wrapper .button-wrap .standartYellow{
	padding: 18px 0px;
	font-size: 18px;
	width: 250px;
}

.nav-mobile-menu{display: none;}

.ui-timepicker-wrapper{
	padding: 0 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #aaaaaa;
}

.sn-nav-wrapper .sn-nav a p{color: #000; font-size: 14px;}
.sn-nav-wrapper .sn-nav.horizontal a{margin-bottom: 25px;}
.sn-nav-wrapper .sn-nav.horizontal a:hover p{text-decoration: underline;}
.sn-nav-wrapper .sn-nav.top{top: 2%;}

.sn-nav-wrapper{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefffe), to(#b7b7b7));
	background-image: -webkit-linear-gradient(top, #fefffe 0%, #b7b7b7 100%);
	background-image: -moz-linear-gradient(top, #fefffe 0%, #b7b7b7 100%);
	background-image: -o-linear-gradient(top, #fefffe 0%, #b7b7b7 100%);
	background-image: linear-gradient(to bottom, #fefffe 0%, #b7b7b7 100%);
}

.our-transport-nav{max-width: 1275px;}

.global-wrapper{transition: transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s, -o-transform 0.4s;}

.opened-nav-menu{pointer-events: all;}

.sn-content-wrapper{z-index: 11;
	 pointer-events: none;
 }
 .animate .sn-content-wrapper{
	 pointer-events: auto;
 }
 .our-transport-nav-tabs{display: none!important;}
 .animate .our-transport-nav-tabs{display: flex!important;}


 .animate .global-wrapper{ pointer-events: none;}
 .global-wrapper-opend .nav-mobile-menu a{pointer-events: none!important;}
 .animate .nav-mobile-menu a{pointer-events: none!important;}

.global-wrapper-wrapper.global-wrapper-closed{
	-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	height: 100%;
	width: 100%;
	min-height: 100%;
	pointer-events: all;
}
.global-wrapper-wrapper.global-wrapper-opend{
	-webkit-transform: translate3d(40%, 0, 0) scale3d(0.85, 0.85, 1);
	-moz-transform: translate3d(40%, 0, 0) scale3d(0.85, 0.85, 1);
	transform: translate3d(40%, 0, 0) scale3d(0.85, 0.85, 1);
	-webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.18);
	transition: transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s, -o-transform 0.4s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	min-height: 100%;
	outline: 1px solid transparent;
	position: relative;
	z-index: 10;
	cursor: pointer;
}
.our-services-nav.navigated, .about-company-nav.navigated, .partners_investors-nav.navigated{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 40px 40px 100px;
	width: auto;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	z-index: 10;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden;
}
.our-services-nav.navigated .heading, .about-company-nav.navigated .heading, .partners_investors-nav.navigated .heading {
	font-weight: 300;
	font-size: 25px;
	color: #a2a2a2;
	margin-bottom: 25px;
	cursor: pointer;
}
.our-services-nav.navigated .menu-list-item:nth-child(1),
.about-company-nav.navigated .menu-list-item:nth-child(1),
.partners_investors-nav.navigated .menu-list-item:nth-child(1){margin-right: 60px;}

.our-services-nav.navigated ul, .about-company-nav.navigated ul, .partners_investors-nav.navigated ul{padding: 0; list-style: none;}
.our-services-nav.navigated ul{overflow-y: auto; height: calc(100% - 20%);}
.our-services-nav.navigated ul li, .about-company-nav.navigated ul li, .partners_investors-nav.navigated ul li{margin-bottom: 10px;}
.our-services-nav.navigated ul li a, .about-company-nav.navigated ul li a, .partners_investors-nav.navigated ul li a{
	text-decoration: none;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 300;
}
.our-services-nav.navigated ul li a:hover, .about-company-nav.navigated ul li a:hover, .partners_investors-nav.navigated ul li a:hover{text-decoration: underline;}

.about-company-nav.navigated, .partners_investors-nav.navigated{left: 10%; padding-top: 5%;}
.about-company-nav.navigated ul li, .partners_investors-nav.navigated ul li{margin-bottom: 30px;}
.about-company-nav.navigated ul li a, .partners_investors-nav.navigated ul li a{font-size: 30px;}

.our-transport-nav .our-transport-nav-tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 40px;
}
.our-transport-nav .our-transport-nav-tabs .our-transport-nav-tab{
	padding: 10px 50px;
	font-weight: 300;
	font-size: 18px;
	border: 2px solid #fccc03;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.our-transport-nav .our-transport-nav-tabs .our-transport-nav-tab:nth-child(1){
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
}
.our-transport-nav .our-transport-nav-tabs .our-transport-nav-tab:nth-child(2){
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
}
.our-transport-nav .our-transport-nav-tabs .our-transport-nav-tab.tabbed{
	background: -webkit-gradient(linear, left top, left bottom, from(#fbdc03), to(#fdb903));
	background: -webkit-linear-gradient(top, #fbdc03, #fdb903);
	background: -moz-linear-gradient(top, #fbdc03, #fdb903);
	background: -o-linear-gradient(top, #fbdc03, #fdb903);
	background: linear-gradient(to bottom, #fbdc03, #fdb903);
}

.our-transport-nav .our-transport-nav-pages{position: relative;}
.our-transport-nav .our-transport-nav-pages .our-transport-nav-page{position: absolute; top: 0; left: 0; display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;}

.fancyboxHeading-popup1{width: 450px;}
.fancyboxHeading-popup1 .fancybox-skin{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #fff;
}
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #c6c6c6;
}
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu{
	padding: 10px 15px;
	position: relative;
	width: 450px;
	height: auto;
}
/*.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu:before{
	content: '';
	display: block;
	position: absolute;
	top: 53%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	height: 1px;
	background-color: #c6c6c6;
}*/
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input{
	border: 0;

	width: 100%;
	padding: 12px 0;
	/* Firefox 19+ */
	/* Firefox 18- */
}
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input:not(:last-of-type){
		border-bottom: 1px solid  #c6c6c6;
}
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input::-webkit-input-placeholder,
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input::-moz-placeholder,
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input:-moz-placeholder,
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input:-ms-input-placeholder{font-size: 20px; color: #bbbbbb;}
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input.error{/* Firefox 19+ */ /* Firefox 18- */}
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input.error::-webkit-input-placeholder,
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input.error::-moz-placeholder,
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input.error:-moz-placeholder,
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu input.error:-ms-input-placeholder{color: red;}
.fancyboxHeading-popup1 .fancybox-skin .fancybox-inner #login-menu button {
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #999999;
	position: absolute;
	right: 10px;
	bottom: 2px;
	color: #fff;
	height: 42px;
	width: 42px;
	font-size: 9px;
	font-weight: 700;
}
.fancyboxHeading-popup1 .fancybox-close {
	background-image: url(/img/close2.png);
	background-size: cover;
	right: -40%;
	top: -200px;
	width: 39px;
	height: 39px;
	text-decoration: none;
	color: #000;
}
.fancyboxHeading-popup1 .fancybox-close:after {
	content: 'Закрыть';
	font-weight: 300;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 120%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#back-call, #back-call1{padding: 0 60px 60px 60px; width: 800px;}
#back-call input, #back-call1 input , #back-call textarea, #call-popup textarea, #headerCalculator input{
	width: 100%;
	padding: 15px 0px 15px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #aaaaaa;
	margin-right: 40px;
	margin-bottom: 23px;
}

#headerCalculator input{padding:13px 0px 12px 20px; margin-bottom: 0;}
#back-call .button-wrapper, #back-call1 .button-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
#back-call .button-wrapper .standartYellow, #back-call1 .button-wrapper .standartYellow{padding: 18px 65px; font-size: 18px;}

.investors-block .investor-wrap{max-width: 1170px; margin: 0 auto;}
.investors-block .investor-wrap h2 {
	margin-top: 0;
	font-size: 72px;
	font-weight: 200;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 45px;
}
.investors-block .investor-wrap .undrheading {
	max-width: 560px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	line-height: 1.3;
}
.investors-block .investor-wrap .investors-image-wrap {
	text-align: center;
	width: 100%;
	height: 308px;
	background: url("/img/bank_investoram.png") no-repeat;
	-webkit-background-size: 769px 308px;
	-moz-background-size: 769px 308px;
	-o-background-size: 769px 308px;
	background-size: 769px 308px;
	background-position: center 0%;
	position: relative;
}
.investors-block .investor-wrap .investors-image-wrap.attached{background-attachment: fixed;}
.attached{background-attachment: fixed!important; background-position: center 0%!important; background-size: auto!important;}
.investors-block .investor-wrap .investors-image-wrap img{display: none;}
.investors-block .investor-wrap .investment-form .investment-heading h4{
	font-size: 40px;
	font-weight: 200;
	text-align: center;
}
.investors-block .investor-wrap .investment-form .investment label, .investors-block .investor-wrap .investment-form .investment2 label {
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}
.investors-block .investor-wrap .investment-form .investment label input, .investors-block .investor-wrap .investment-form .investment2 label input {
	background: transparent;
	padding: 20px;
	border: 1px solid #999999;
	line-height: 22px;
	width: 410px;
	display: block;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 300;
	color: #404040;
}
.investors-block .investor-wrap .investment-form .investment label input::-webkit-input-placeholder, .investors-block .investor-wrap .investment-form .investment2 label input::-webkit-input-placeholder,
.investors-block .investor-wrap .investment-form .investment label input::-moz-placeholder, .investors-block .investor-wrap .investment-form .investment2 label input::-moz-placeholder,
.investors-block .investor-wrap .investment-form .investment label input:-moz-placeholder, .investors-block .investor-wrap .investment-form .investment2 label input:-moz-placeholder,
.investors-block .investor-wrap .investment-form .investment label input:-ms-input-placeholder, .investors-block .investor-wrap .investment-form .investment2 label input:-ms-input-placeholder {
	font-size: 22px;
	font-weight: 300;
	color: #404040;
}
.investors-block .investor-wrap .investment-form .investment .total-income, .investors-block .investor-wrap .investment-form .investment2 .total-income{
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}
.investors-block .investor-wrap .investment-form .investment .divaded-income, .investors-block .investor-wrap .investment-form .investment2 .divaded-income{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 35px 0;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.investors-block .investor-wrap .investment-form .investment .divaded-income img, .investors-block .investor-wrap .investment-form .investment2 .divaded-income img{margin-right: 30px;}
.investors-block .investor-wrap .investment-form .investment .divaded-income .divaded-income-item, .investors-block .investor-wrap .investment-form .investment2 .divaded-income .divaded-income-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 300;
	font-size: 40px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 50px;
}
.investors-block .investor-wrap .investment-form .investment .divaded-income .divaded-income-item .number, .investors-block .investor-wrap .investment-form .investment2 .divaded-income .divaded-income-item .number{
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 20px;
}
.investors-block .investor-wrap .investment-form .investment .divaded-income .divaded-income-item p, .investors-block .investor-wrap .investment-form .investment2 .divaded-income .divaded-income-item p{margin: 0;}
.investors-block .investor-wrap .investment-form .investment .button-wrapper, .investors-block .investor-wrap .investment-form .investment2 .button-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 35px;
}
.investors-block .investor-wrap .investment-form .investment .button-wrapper .standartYellow, .investors-block .investor-wrap .investment-form .investment2 .button-wrapper .standartYellow {
	padding: 13px 60px;
	font-size: 16px;
	font-weight: 300;
}
.investors-block .investor-wrap .investment-form .investment .button-wrapper .standartYellow:hover, .investors-block .investor-wrap .investment-form .investment2 .button-wrapper .standartYellow:hover {
	-webkit-box-shadow: -3px 10px 58px -5px #feba03;
	-moz-box-shadow: -3px 10px 58px -5px #feba03;
	box-shadow: -3px 10px 58px -5px #feba03;
	opacity: .8;
}
.investors-block .investor-wrap .income-calculator .income-calculator-heading h4 {
	font-size: 40px;
	font-weight: 200;
	text-align: center;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap #custom-handle{
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .number-visual ul{
	list-style: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 25px;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .number-visual ul li{color: #a1a1a1;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .number-visual ul li:nth-child(1){color: #000;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .number-visual ul li.priced{color: #000;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .ui-spinner {
	margin: 0 auto;
	display: none;
	max-width: 260px;
	padding: 15px 15px;
	font-size: 22px;
	font-weight: 300;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .ui-spinner .ui-spinner-up{cursor: pointer; border-bottom: 1px solid #000;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .ui-spinner .ui-spinner-up span{
	background-image: none;
	width: 0;
	height: 0;
	border-left: solid transparent 8px;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #000;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 75%;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .ui-spinner .ui-spinner-down{cursor: pointer;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .ui-spinner .ui-spinner-down span{
	background-image: none;
	width: 0;
	height: 0;
	border-left: solid transparent 8px;
	border-right: 8px solid transparent;
	border-top: 8px solid #000;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 75%;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap #range-calc-spinner{display: none;}
.investors-block .investor-wrap .income-calculator .input-range-wrap #range-calc{
	border: none;
	background: #d6d6d6;
	height: 2px;
	width: 1105px;
	margin: 0 auto;
	cursor: pointer;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap #range-calc #custom-handle {
	color: transparent;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	border: 5px solid	#fccc03;
	cursor: pointer;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap #range-calc .upper-handle{
	color: #000000;
	position: absolute;
	top: -30px;
	font-size: 20px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap #range-calc .ui-slider-range{background: #f8d803;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .range-calc{display: none;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .left-part, .investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .right-part{width: 320px;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .left-part .current-heding h5, .investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .right-part .current-heding h5{
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 50px;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .left-part .line, .investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .right-part .line {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .left-part .line .dimension, .investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .right-part .line .dimension,
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .left-part .line .dimension-value, .investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .right-part .line .dimension-value{
	font-size: 24px;
	font-weight: 300;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .midle-part{width: 380px;}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .midle-part .midle-image-wrap {
	position: relative;
	width: 100%;
	max-height: 100%;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .income-calc-result .midle-part .midle-image-wrap img {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .button-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 35px;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .button-wrapper .standartYellow {
	padding: 13px 60px;
	font-size: 16px;
	font-weight: 300;
}
.investors-block .investor-wrap .income-calculator .input-range-wrap .button-wrapper .standartYellow:hover {
	-webkit-box-shadow: -3px 10px 58px -5px #feba03;
	-moz-box-shadow: -3px 10px 58px -5px #feba03;
	box-shadow: -3px 10px 58px -5px #feba03;
	opacity: .8;
}
/*Google translate fonts nav menu pointer events disabled */
font{pointer-events: none;}
.our-services-nav .menu-list-item{height: calc(100% - 20%);}
.our-services-nav .menu-list-item.opened{height: calc(100% - 20%);}
.our-services-nav .menu-list-item:nth-child(2).opened{height: calc(100% - 30%);}

/* exurtion datepicker */
#ui-datepicker-div .ui-widget-header{background: #fff; border: none;}
#ui-datepicker-div.ui-widget-header .ui-icon{background-image: none; cursor: pointer;}
#ui-datepicker-div.ui-datepicker .ui-datepicker-prev .ui-icon{
	border-right: 10px solid #777777;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-next .ui-icon{
	border-left: 10px solid #777777;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default,#ui-datepicker-div .ui-widget-header .ui-state-default,#ui-datepicker-div .ui-button, html .ui-button.ui-state-disabled:hover, #ui-datepicker-div .ui-button.ui-state-disabled:active{
	border:	none;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	background: #fff;
	border: 1px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#ui-datepicker-div	.ui-state-active{
	background: #fcd103;
	color: #000;
	border: 1px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#ui-datepicker-div .ui-datepicker-today .ui-state-default{font-weight: bold; color: #000;}

.item.parent-item .jq-number__field{
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.lower-button{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}

.mobile-menu-wieve{
	height: 100vh;
	overflow: hidden;
}

.cur-tarif .tar-desc .item-desc{
	font-weight: 300;
    font-size: 15px;
    color: #333;
    text-align: left;
    line-height: 18px;
    overflow-y: auto;
    width: calc(100% + 32px);
    height: 100px;}

/*.animate .nav-mobile-menu, .global-wrapper-opend .nav-mobile-menu{
	pointer-events: none!important;
}*/
